@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1254px) { 
  #logoutNewsFeed{
    display: none;
  }
  #cardsdata{
    margin: auto;
  }
 }

 @media (max-width:848px){
    /* #mainNavbar{
      display: none;
    } */
    #mainButton{
      display: none;
    }
    #mobileButton{
      display: flex;
    }
    #cardsdata{
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .newsFeedDown{
      width: 100%;
      align-items: center;
      justify-content: center;
    }

}
